# This is an example .env file. Copy the contents (or rename this file) to .env and fill in the values.
MOVIEDLE_DATABASE_URL=postgresql://user:password@localhost:5432/database_name
DATABASE_VERBOSE_LOGGING=false
MOVIEDLE_BLURT_OUT_CANDIDATE_MOVIE=false
GUESS_THE_MOVIE_BLURT_CANDIDATES=false